
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row">
    <div class="col-md-3">
  <a asp-action="Login" class="btn btn-success">giriş yap</a>
    </div>
    <div class="col-md-6">
        <a asp-action="Entry" class="btn btn-success">kayıt ol</a>
    </div></div>
</div>
