@{
    ViewData["Title"] = "rehber";
    //Layout = null;
}

<div class="text-center">
    <h1 class="display-4">REHBERİM</h1>
    <p>REHBER UYGULAMASI</p>

    <br />
    <a asp-action="BilgiFormu"asp-controller="Home">bilgileri girmek için tıklayınız </a><br />
    <a asp-action="Detay" asp-controller="Home">Detay </a>
  
      


  
    



  


